.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    height: 300px;
    background-size: 300px;
    background-position: fixed;
  }
  
.box-image{
    height: 150px;
    width: 250px;
    padding: 10px;
    margin: auto;
}

.coming-soon-container{
    width: 500%;
    background-color: none;
    align-content: center;
    background-size: 300px;
    margin-bottom: 25px;
}

.coming-soon-row {
    justify-content: center;
    background: none;
}
/* .hero-unit {
    display:inline-block;
    background-color:red;
    height: 100px;
} */

.box-image:hover {
    height: 175px;
    width: 275px;
    align-content: top;
}

.popover-header {
    color: black;
}

.moreInfo {
    color: rgba(145, 18, 18);
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
}

.moreInfo:hover{
    color: slategray;
}