.container {
  align-content: center;
  text-align: center;
  text-decoration-color: white;
}

.navbar-brand {
  font-size: 2.5rem;
}

/* .collapse {
  color: black;

} */

nav {
  background-color: slategray;
  width: 100%;
  padding: 10px;
  }

/* .one {
  background-color: red;
}

.two {
  background-color: purple;
} */

.navbar-brand {
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  color: white;
}

.one, .two {
  font-family: 'Orbitron', sans-serif;
  text-decoration-color: none;
  color: white;
  margin-right: 10px;
  background-color: slategray;
}

