.container {
  align-content: center;
  text-align: center;
}

.navbar-brand {
  background: cyan;
}

.collapse {
  background-color: blue;
}

nav {
  background-color: yellowgreen;
}

.one {
  background-color: red;
}

.two {
  background-color: purple;
}

.navbar-brand {
  background: indianred;
}